/* https://web.dev/variable-fonts/#fallbacks */
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: 'Manrope';
    src: url('/fonts/fixed/Manrope-ExtraBold.woff2');
    font-display: swap;
    font-weight: 900;
  }

  @font-face {
    font-family: 'Manrope';
    src: url('/fonts/fixed/Manrope-Regular.woff2');
    font-display: swap;
    font-weight: 500;
  }
}
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Manrope';
    src: url('/fonts/variables/Manrope[wght].woff2')
        format('woff2 supports variations'),
      url('/fonts/variables/Manrope[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/variables/Roboto-Flex-Variable.ttf')
        format('truetype-variations'),
      url('/fonts/variables/Roboto-Flex-Variable.ttf')
        format('truetype-variations');
    font-weight: 100 900;
    font-display: swap;
  }
}

:root {
  --step-xs: clamp(1.24rem, calc(0.6rem + 0.86vw), 0.77rem);
  --step-sm: clamp(1.55rem, calc(0.55rem + 1.33vw), 0.82rem);
  --step-md: clamp(0.88rem, calc(0.49rem + 1.93vw), 1.94rem);
  --step-lg: clamp(0.93rem, calc(0.39rem + 2.71vw), 2.42rem);
  --step-xl: clamp(1rem, calc(0.26rem + 3.69vw), 3.03rem);
  --step-2xl: clamp(1.06rem, calc(0.07rem + 4.95vw), 3.78rem);
  --step-3xl: clamp(1.13rem, calc(-0.17rem + 6.54vw), 4.73rem);
  --step-4xl: clamp(1.21rem, calc(-0.5rem + 8.55vw), 5.91rem);

  --radius-thumb: 20px;
  --color-scrollbar-thumb: hsla(0, 0%, 100%, 0.5);
  --color-scrollbar-track: hsl(0, 2%, 16%);
  --color-scrollbar-track-hover: hsla(0, 0%, 100%, 0.2);
  --color-scrollbar-track-active: hsla(0, 0%, 100%, 0.3);

  --red: hsl(358, 55%, 52%);
  --black: hsl(358, 40%, 1%);
}

/*----------------------------------------------------------------*/
/* scroll bar */
/*----------------------------------------------------------------*/

/******************** FIREFOX *******************************/
* {
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
  scrollbar-width: thin;
}

/******************** CHROME SAFARI OPERA EDGE *****************/
/* scrollbar */
*::-webkit-scrollbar {
  width: 8px;
}

/* track */
*::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

/* thumb */
*::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb); /* color of the thumb */
  border-radius: var(--radius-thumb); /* radius of the thumb */
  border: 2px solid var(--color-scrollbar-track); /* border of the thumb, create padding */
}

/*----------------------------------------------------------------*/
/* Range input */
/*----------------------------------------------------------------*/

/* https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */
/* for chromium browser the range color progress is handle with js */

.range {
  --thumb-height: 12px;
  --track-height: 2px;
  --radius-track: 1rem;
  --radius-thumb: 50%;

  --color-track: hsl(0, 0%, 100%);
  --color-thumb: hsl(0, 0%, 100%);
  --color-progress: var(--red);

  --cursor-track: grab;

  --progress: 0%;
  --gradient-progress: linear-gradient(
    to right,
    var(--color-progress) 0%,
    var(--color-progress) var(--progress),
    var(--color-track) var(--progress),
    var(--color-track) 100%
  );
}

/************* CHROME SAFARI OPERA EDGE *****************/

input[type='range'].range {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
  cursor: var(--cursor-track);
}

input[type='range'].range:active {
  cursor: grabbing;
}

/* track */
input[type='range'].range::-webkit-slider-runnable-track {
  background: var(--gradient-progress);
  border-radius: var(--radius-track);
  height: var(--track-height);
}

/* thumb */
input[type='range'].range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  background-color: var(--color-thumb);
  height: var(--thumb-height);
  width: var(--thumb-height);
  border-radius: var(--radius-thumb);
  margin-top: calc(var(--track-height) / 2 - var(--thumb-height) / 2);
}

/******************** FIREFOX *******************************/

/* track */
input[type='range'].range::-moz-range-track {
  background: var(--color-track);
  border-radius: var(--radius-track);
  height: var(--track-height);
}

/* thumb */
input[type='range'].range::-moz-range-thumb {
  border: none;
  background: var(--color-thumb);
  height: var(--thumb-height);
  width: var(--thumb-height);
  border-radius: var(--radius-thumb);
}

/* range progress */
input[type='range'].range::-moz-range-progress {
  background-color: var(--color-progress);
}

/*----------------------------------------------------------------*/
/* Marquee */
/*----------------------------------------------------------------*/

.marquee {
  overflow-x: hidden;
}

.marquee__inner {
  width: 125%;
  white-space: nowrap;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  position: relative;
}

.marquee__inner > span {
  animation: marquee 30s linear infinite;
  padding-left: 2rem;
  will-change: transform;
}

.marquee__inner:hover > span {
  animation-play-state: paused;
}

@keyframes marquee {
  100% {
    transform: translateX(-200%);
  }
}

/*----------------------------------------------------------------*/
/* Linear gradient borders */
/*----------------------------------------------------------------*/

.border-gradient {
  --color-gradient: var(--red);
  /* prettier-ignore */
  background: 
    linear-gradient(to right, var(--color-gradient) 4px, transparent 4px) 0 100%,
    linear-gradient(to left, var(--color-gradient) 4px, transparent 4px) 100% 0,
    linear-gradient(to bottom, var(--color-gradient) 4px, transparent 4px) 100% 0,
    linear-gradient(to top, var(--color-gradient) 4px, transparent 4px) 0 100%;

  background-repeat: no-repeat;
  background-size: 40px 40px;
}

.animate-load {
  animation: fadeIn ease-in 3s;
}

.animate-slide {
  animation: slideBotToTop 500ms cubic-bezier(0, 0.38, 0.18, 0.99);
}

.animate-slide-top {
  animation: slideTopToBot 1s cubic-bezier(0, 0.38, 0.18, 0.99);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideBotToTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideTopToBot {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
