/* https://web.dev/variable-fonts/#fallbacks */
@supports not (font-variation-settings: normal) {
  @font-face {
    font-family: 'Manrope';
    src: url('/fonts/fixed/Manrope-ExtraBold.woff2');
    font-display: swap;
    font-weight: 900;
  }

  @font-face {
    font-family: 'Manrope';
    src: url('/fonts/fixed/Manrope-Regular.woff2');
    font-display: swap;
    font-weight: 500;
  }
}
@supports (font-variation-settings: normal) {
  @font-face {
    font-family: 'Manrope';
    src: url('/fonts/variables/Manrope[wght].woff2')
        format('woff2 supports variations'),
      url('/fonts/variables/Manrope[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
  }
}

:root {
  --step-xs: clamp(1.24rem, calc(0.6rem + 0.86vw), 0.77rem);
  --step-sm: clamp(1.55rem, calc(0.55rem + 1.33vw), 0.82rem);
  --step-md: clamp(0.88rem, calc(0.49rem + 1.93vw), 1.94rem);
  --step-lg: clamp(0.93rem, calc(0.39rem + 2.71vw), 2.42rem);
  --step-xl: clamp(1rem, calc(0.26rem + 3.69vw), 3.03rem);
  --step-2xl: clamp(1.06rem, calc(0.07rem + 4.95vw), 3.78rem);
  --step-3xl: clamp(1.13rem, calc(-0.17rem + 6.54vw), 4.73rem);
  --step-4xl: clamp(1.21rem, calc(-0.5rem + 8.55vw), 5.91rem);
}
